.navlogo{
	height: 125px;
	margin: -20px;
	margin-left: 20px;
}

.navico{
	font-size: 75px;
	color: #7DAB7A;
	text-align: center;
}

.navbar, .navbar-light, .bg-light{
	background-color: #E1EFE0 !important;
}

.center{
    margin:auto;
    float:none;
    margin-left: 5%;
}

.navico:hover{
    color: #DDA771;
}

.navico:active{
    color: #DDA771;
}



